.container {
  display: flex;
  flex-direction: row;
  background-color: var(--background);
  width: 100%;
}
.side_nav {
  min-width: fit-content;
  inset-block-start: 3rem;
  z-index: 0;
  height: calc(100vh - 3rem);
  position: sticky;
  border-block-start: 1px solid var(--surface-variant);
  background-color: var(--neutral20-20p);
  box-shadow: 2px 0px 4px var(--shadow1);
}
.side_nav_link {
  display: flex;
  color: var(--neutral-variant80);
  white-space: nowrap;
  align-items: center;
  column-gap: 0.8rem;
  font-size: var(--title-medium-fs);
  font-weight: var(--title-medium-fw);
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-end-end-radius: var(--border-radius);
}
.side_nav_link:hover {
  background-color: var(--neutral20-70p);
}
.side_nav_link:active {
  background-color: var(--neutral20-20p);
}
.sign_in_tip {
  position: fixed;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  height: 2rem;
  z-index: 2;
  animation-name: display;
  animation-duration: 10s;
  background-color: var(--surface-variant);
  box-shadow: 0px 0px 8px var(--shadow5);
  color: var(--on-background);
  width: 80%;
}
@keyframes display {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
